.page{
    background-color: #000;
    padding-top: 45px;
    padding-bottom: 60px;
    margin: 0 auto;
    font-family: 'inter', 'Arial', sans-serif;
    width: 100%;
}
@media screen and (max-width:619px){
.page {
    padding-top: 28px;
    padding-bottom: 36px;
}}