.footer__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #545454;
}
@media screen and (max-width:619px){
    .footer__text {
        font-size: 14px;
        line-height: 1.21;
    }}